@model List<BPO.Models.Usuarios>
@{
    ViewBag.Title = "Detalhes Tipo de Usuário";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
       @RenderPage("../home/PaginaCabecario.cshtml")
    </div>
</div>
<h2>Detalhes Tipo de Usuário</h2>
@foreach (var item in Model)
{

<div>
    <h4>Tipo de Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => item.descricao)
        </dt>

        <dd class="clearfix">
            @Html.DisplayFor(model => item.descricao)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edita", "EditTipoUsuario", new { id = item.id }) |
    @Html.ActionLink("Retorna para a Lista", "IndexTipoUsuario", "Usuarios")
</p>
}